@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html, body {
    overflow-x: hidden;
}
#au-container {
    background-color: #DFC8DB;
    width: 110%;
    height: 52vw;
}

.au-align-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.au-align-hor {
    display: flex;
    justify-content: left;
    margin-bottom: 4vw;
}

.au-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

#au-text {
    width: 36vw;
    text-align: left;
    font-size: 1.5vw;
    margin-left: 1rem;
    margin-top: 1.5vw;
    font-family: 'Work Sans', sans-serif;
    line-height: 2.5vw;
}

.au-text-title {
    margin: 0px;
    font-weight: 600;
}

.au-para {
    margin: 0px;
    margin-bottom: 3vw;
}

.au-img-cont {
    display: flex;
    gap: 1vw;
    height: 37vw;
}

#img3 {
    height: 100%;
    object-fit: cover;
}

#img1, #img2 {
    height: 45.58%;
    object-fit: cover;
}

#img2 {
    height: 51.58%;
}

#au-img-left {
    width: 26vw;
    height: 37vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#au-img-right {
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 100%;
}

.imghide {
    display: block;
}

@media only screen and (max-width: 900px) {
    #au-text {
        width: 80vw;
        font-size: 3vw;
        line-height: 5vw;
    }

    #au-container {
        height: 100%;
    }

    .imghide {
        display: none;
    }

    .au-align-hor {
        flex-direction: column;
    }

    .imgbig {
        width: 75vw !important;
        max-width: 80vw;
        height: 100% !important;
    }
}