#footer{
    width: 100vw;
    background-color: #47143D ;
    display: flex;
    justify-content: center;
}
#box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding-top: 25px;

}
#contact-btn{
    width: 100px;
    margin: 0 auto;
    color: #47143D;
    font-weight: 600;
}
.social{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.social a{
    color: #fff;
}
.icon{
    margin: 0 20px;
}
#copyright{
    text-align: center;
}